.header{
  color: black;
  padding: 10px 0;
  margin: 0;
  /* background-color: rgb(68, 49, 212); */
  background-color: rgb(196, 98, 98);
  width: 100%;
}

.counter
{
  color: black;
  padding-top: 10px;
  font-size: large;
}

.statesLink{
  cursor: pointer;
  font-size: xx-large;
}
